.chat-menu {
  width: 30%;
  background: #fbfbfb;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 15px;
  border-right: 1px solid #eaeaea;
  height: 100%;
}

.chat-menu__profile-link {
  cursor: pointer;
}

.chat-menu__header {
  width: 100%;
  height: 32px;
  line-height: 32px;
  margin-bottom: 16px;
  text-align: right;
}

.chat-menu__filter {
  width: 100%;
  height: 32px;
  margin-bottom: 16px;
}

.chat-menu__list {
  width: 100%;
}
