include ../searchFilter/searchFilter
include ../SPALink/SPALink
include chatMenuItem

mixin chatMenu()
    .chat-menu
        .chat-menu__header
          img(src=addChatImg).chat-menu__add-chat
          a(data-path=profileLink).chat-menu__profile-link.text_second.no_decoration= "Профиль >"
        .chat-menu__filter
            +searchFilter
        .chat-menu__list
            each item in chats
                +chatMenuItem(item)
