.chat-body-header.bd-bottom
    .chat-body-header__chat-info
        if avatar === null
          img(src=null).chat-body-header__chat-img.bg_bright
        else
          img(src=avatar).chat-body-header__chat-img.bg_bright
        .chat-body-header__chat-name.text_main= title
    .chat-body-header__options
