.chat {
  display: flex;
  box-sizing: border-box;
  height: 100vh;
  justify-content: flex-start;
}

.chat__clear {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
