input[type="file"] {
    display: none;
}
.custom-file-uploader{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-decoration-line: underline;
    color: #3369F3;
}

.custom-file-uploader_done{
    color: #8D8D8D;
}