include ../modal/modal

mixin profileImg(name, avatar)
    .profile-img
        .profile-img__wrapper
            .profile-img__img-wrapper
                if avatar
                  img(src=avatar).profile-img__img
                else
                  img.profile-img__img
                .profile-img__change-img-wrapper
                    span.profile-img__change-img.text_white= 'Поменять аватар'
            .profile-img__name-wrapper
                p.profile-img__name.text_main= name
