.profile {
  box-sizing: border-box;
  padding: 25px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.profile__wrapper {
  max-width: 640px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.profile__body {
  width: 100%;
}

.profile__info {
  margin: 20px 0;
}

.profile__field {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 31px;
  padding: 6px 0;
  border-bottom: 1px solid #eaeaea;
}

.profile__field div {
  display: flex;
  align-items: center;
}

.profile__field:last-child {
  border: none;
}

.profile__field_center {
  justify-content: center;
}
