.send-input{
    width: 100%;
    height: 100%;
    border:none;
    background-image:none;
    border-radius: 30px;

    box-sizing: border-box;
    padding-left: 15px;
}

.send-input::placeholder{
    color: #999999;
}