extends ../template/chat/chat
include ../components/chatBody/chatBody

block body
    case state
      when 'main'
        .chat__clear.text_second= "Выберите чат чтобы отправить сообщение"
      when 'selected'
        +chatBody(selectedChat, messages)
