extends ../template/form/form

include ../components/acceptBtn/acceptBtn
include ../components/defaultLink/defaultLink
include ../components/formInput/formInput

block variables
    -
        var title = "Вход"

block css
    include ../components/acceptBtn/acceptBtn.css
    include ../components/defaultLink/defaultLink.css
    include ../components/formInput/formInput.css

block formTitle
    span.text_main.form-title= 'Войти'

block inputs
    - var login = requireData('login.js')
    each item in login.inputs
        +formInput(item.name, item.label, item.placeholder, item.type, item.errorText)

block buttons
    .form-action__wrapper
        +button("Вход")
    .form-action__wrapper
        +defaultLink("Нет аккаунта?", 'signup.pug')
    .form-action__wrapper
        .form-action__error.text_danger= ''

block scripts
    script(type="module", src="../handlers/loginFormHandler.js")