extends ../template/profile/profile

include ../components/profileImg/profileImg
include ../components/profileInput/profileInput
include ../components/SPALink/SPALink

block profileBody
    +profileImg('Имя')
    .profile__form
      case state
        when 'main'
          .profile__info
            each item in profile
              .profile__field
                .text_main= item.name
                .text_second= item.value
          .profile-actions
            .profile__field
              +SPALink(change.title, change.path)
            .profile__field
              +SPALink(password.title, password.path)
            .profile__field
              +SPALink(out.title, out.path).text_danger.no_decoration
        when 'change'
          .profile__info
            each item in profile
              +profileInput(item)
          .profile-actions
            +button('Сохранить').profile-accept-action
            .profile__field.profile__field_center
              +SPALink(back.title, back.path)
        when 'password'
          .profile__info
            each item in profile
              +profileInput(item)
          .profile-actions
            +button('Сохранить').profile-accept-action
            .profile__field.profile__field_center
              +SPALink(back.title, back.path)
