extends ../template/profile/profile

include ../components/profileImg/profileImg
include ../components/acceptBtn/acceptBtn
include ../components/profileInput/profileInput

block variables
    -
        var title = "Профиль - Смена пароля"

block styles
    style
        include ../components/profileImg/profileImg.css
        include ../components/acceptBtn/acceptBtn.css
        include ../components/profileInput/profileInput.css

block profileBody
    +profileImg('Имя')
    .profile__info
        - var profile = requireData('profile.js')
        each item in profile.profileChangePassword
            +profileInput(item)
    .profile-actions
        +button('Сохранить')


block scripts
    script(type="module", src="../handlers/profileChangeInfoHandler.js")