extends ../template/profile/profile

include ../components/profileImg/profileImg
include ../components/acceptBtn/acceptBtn

block variables
    -
        var title = "Профиль - изменить информацию"

block styles
    style
        include ../components/profileImg/profileImg.css
        include ../components/acceptBtn/acceptBtn.css

block profileBody
    +profileImg('Имя')
    .profile__info
        - var profile = requireData('profile.js')
        each item in profile.profileChangeInfo
            .profile__field
                .text_main= item.name
                .text_second= item.value
    .profile-actions
        +button('Сохранить')


block scripts
    script(type="module", src="../handlers/profileChangeInfoHandler.js")