extends ../template/form/form

include ../components/acceptBtn/acceptBtn
include ../components/defaultLink/defaultLink
include ../components/formInput/formInput

block title
    title Регистрация

block css
    include ../components/acceptBtn/acceptBtn.css
    include ../components/defaultLink/defaultLink.css
    include ../components/formInput/formInput.css

block formTitle
    span= 'Регистрация'

block inputs
    +formInput('email', 'Почта', 'email@yandex.ru', 'email', "Некоректная почта")
    +formInput('login', 'Логин', 'Ваш логин', 'text', "Некоректный логин")
    +formInput('name', 'Имя', 'Имя', 'text', "Некоректное имя")
    +formInput('surname', 'Фамилия', 'Фамилия', 'text', "Некоректная фамилия")
    +formInput('tel', 'Телефон', '+7 (909) 967 30 30', 'tel', "Некоректный телефон")
    +formInput('password', 'Пароль', 'Пароль', 'password', "")
    +formInput('repassword', 'Пароль', 'Пароль', 'password', "Пароли не совпадают")

block buttons
    .form-action__wrapper
        +button("Зарегистрироваться")
    .form-action__wrapper
        +defaultLink("Войти", "login.pug")

block scripts
    script(type="module", src="../handlers/loginFormHandler.js")