.dot-menu {
  position: relative;
  width: 32px;
  height: 32px;
  background-image: radial-gradient(circle, black 1.5px, transparent 3px);
  background-size: 100% 33.33%;
  cursor: pointer;
}

.dot-menu__wrapper {
  height: 100%;
  width: 32px;
  display: flex;
  align-items: center;
}

.dot-menu__dropdown {
  right: 0;
  top: 175%;
  min-width: 220px;
  max-width: 300px;
}
