.chat-body-messages {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: calc(100% - 104px);
}

.chat-body-messages__wrapper {
  width: 100%;
}

.chat-body-message {
  width: 100%;
  position: relative;
  display: flex;
}

.chat-body-message_left {
  justify-content: flex-start;
}

.chat-body-message_right {
  justify-content: flex-end;
}

.chat-body-message__wrapper {
  position: relative;
  box-sizing: border-box;
  min-width: 120px;
  max-width: 400px;
  border-radius: 20px;
}

.chat-body-message_left .chat-body-message__wrapper {
  background-color: #f8f8f8;
  border-bottom-left-radius: 0;
}

.chat-body-message_right .chat-body-message__wrapper {
  background-color: #e4edfd;
  border-bottom-right-radius: 0;
}

.chat-body-message__text {
  padding: 15px;
}

.chat-body-message__time {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 10px;
}

.chat-body-message_right .chat-body-message__time {
  color: #3369f3;
}

.chat-body-message__img + .chat-body-message__time {
  padding: 2.5px 4px;
  border-radius: 5px;
  color: #fff;
  background: rgb(82 82 82 / 50%);
}
