include chatBodyHeader
include chatBodySender
include chatBodyMessages

mixin chatBody(chat, messages)
    style
        include chatBody.css
    .chat-body
        +chatBodyHeader(chat)
        +chatBodyMessages(messages)
        +chatBodySender()