extends ../default

block head
    block title
    style
        include form.css
        block css

block content
    .form
        .form-wrapper
            .form-title__wrapper
                h1.form-title= formTitle
                    block formTitle
            div.form-inputs
                block inputs
            div.form-buttons
                block buttons

    block scripts