.form-input {
  width: 100%;
}

.form-input-label {
  font-size: 9px;
  line-height: 9px;
}

.form-input__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #3369f3;
}

.form-input-error {
  margin-top: 5px;
  height: 20px;
  font-size: 8px;
  line-height: 8px;
}

.form-input_error-color {
  color: #ff2f2f;
}
